*.swp
simulation/modelsim/*
incremental_db/*
db/*
output_files/*
*.bak
*.rdb
*.hif
*.hsd
*.ammdb
*.html
*.kpt
*.bak
*.cdb
*.hdb
*.qmsg
*.ddb
*.xml
*.dfp
*.logdb
*.sdo
*.vo
*.summary
*.xrf
*.sopcinfo
*.rpt
*.sft
*.bpm
*.idb
*.rdb
*.tmw_info
*.tdf
*.qsf
*.qsf
*.bak
*.rpt
*.qmsg
*.flock
*.db_info
*.qws
*.qdb
*.qtl
*.qpg
*.wlf
*.ini
*.mpf
clock_divider/simulation/work/
clock_divider/simulation/work/
i2s/simulation/work/
i2s/simulation/transcript
*.mti
*.db_info
additive_synth.qsf
additive_synth.qws
db/*
db/additive_synth.db_info
db/additive_synth.cmp.rdb
db/additive_synth.db_info
additive_synth.qws
*.qws
*.qsf
clock_divider/.DS_Store
phase_accumulator/.DS_Store
.DS_Store
oscillator/.DS_Store
reset_sync/.DS_Store
i2s/.DS_Store
additive_synth_top_level/.DS_Store

*.cnx
*.txt
