simulation/modelsim/*
incremental_db/*
db/*
output_files/*
*.bak
*.rdb
*.hif
*.hsd
*.ammdb
*.html
*.kpt
*.bak
*.cdb
*.hdb
*.qmsg
*.ddb
*.xml
*.dfp
*.logdb
*.sdo
*.vo
*.summary
*.xrf
*.sopcinfo
*.rpt
*.sft
*.bpm
*.idb
*.rdb
*.tmw_info
*.tdf
*.qsf
*.qsf
*.bak
*.rpt
*.qmsg
*.flock
*.db_info
*.qws
*.qdb
*.qtl
*.qpg
*.wlf
*.ini
*.mpf
clock_divider/simulation/work/_info
clock_divider/simulation/work/_vmake
*.mti
*.db_info
